<!DOCTYPE html>
<html>
    <head>
        <title>{subject}</title>
    </head>
    <body style="font-family : Arial; font-size: 14px;">
        <div data-section="1">
            <div data-slot-container="1">
                <p data-slot="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium sem vitae.
                </p>
            </div>
        </div>
    </body>
</html>
