<!DOCTYPE html>
<html>
<head><title>{subject}</title></head>
<body style="font-size: 16px; line-height: 1.5em; background: #FAFAFA; margin: 0;" bgcolor="#FAFAFA">
        <div data-section-wrapper="1">
            <center>
                <table data-section="1" cellpadding="0" cellspacing="0" style="max-width: 100%; min-width: 100%; width: 600px; padding: 0em 0.5em;" width="100%"><tr>
<td style="padding: 0 18px 9px;">
                            <div data-slot-container="1">
                                <div data-slot="text" style="text-align: center;" align="center">
                                    <p style="text-align: center; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 1em;" align="center">L'en t&ecirc;te de la newsletter</p>
                                </div>
                            </div>
                        </td>
                    </tr></table>
</center>
        </div>
        <div data-section-wrapper="1">
            <center>
                <table data-section="1" style="width: 600px; background: #fff; padding: 0em 0.5em;" width="600" cellpadding="0" cellspacing="0" bgcolor="#fff"><tbody>
<tr>
<td>
                                <div data-slot-container="1" style="min-height: 50px; text-align: center;" align="center">
                                    <div data-slot="text">
                                        <br><h1 style="font-family: bebaskai; font-size: 40px; color: #000; margin: 0px;line-height: 40px;">Le titre de la Newsletter</h1>
                                        <br>
</div>
                                </div>
                            </td>
                        </tr>
<tr>
<td>
                                <div data-slot-container="1">
                                    <div data-slot="text">
                                        <p style="line-height: 24px; font-size: 16px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium sem vitae luctus euismod. Suspendisse in sapien leo. Morbi id lectus sed lorem gravida mollis. Nam pellentesque nec elit a gravida. Suspendisse eget gravida lacus, sit amet pulvinar quam. Nam non tellus massa. Sed a ex nulla. Suspendisse potenti. Vivamus erat felis, ornare id dignissim vitae, finibus eget ex.
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
</tbody></table>
</center>
        </div>
        <div data-section-wrapper="1">
            <center>
                <table data-section="1" style="width: 600px; background: #fff; padding: 0em 0.5em;" width="600" cellpadding="0" cellspacing="0" bgcolor="#fff"><tbody><tr>
<td bgcolor="#c29600">
                                <div data-slot-container="1">
                                    <div data-slot="button">
                                        <a href="#" width="600" alt="" style="font-size: 40px; color: #ffffff; text-decoration: none; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; display: block; font-family: bebaskai, Arial, sans-serif; font-weight: bold; text-align: center; padding: 15px 66px;">
                                            <span data-slot-container="1">
                                                <span data-slot="text">
                                                   CTA Newsletter 1 
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr></tbody></table>
</center>
        </div>
        <div data-section-wrapper="1">
            <center>
                <table data-section="1" style="width: 600px; background: #fff; padding: 0em 0.5em;" width="600" cellpadding="0" cellspacing="0" bgcolor="#fff"><tbody><tr>
<td>
                                <div data-slot-container="1">
                                    <div data-slot="image" style="max-width: 600px;">
                                        <img src="https://hello.unepetitemousse.fr/asset/5:neipa-bananier" style="max-width: 100%;">
</div>
                                </div>
                            </td>
                        </tr></tbody></table>
</center>
        </div>
        <div data-section-wrapper="1">
            <center>
                <table data-section="1" style="width: 600px; background: #fff; padding: 0em 0.5em;" width="600" cellpadding="0" cellspacing="0" bgcolor="#fff"><tbody><tr>
<td>
                                <div data-slot-container="1">
                                    <div data-slot="text">
                                        <p style="line-height: 24px; font-size: 16px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium sem vitae luctus euismod. Suspendisse in sapien leo. Morbi id lectus sed lorem gravida mollis. Nam pellentesque nec elit a gravida. Suspendisse eget gravida lacus, sit amet pulvinar quam. Nam non tellus massa. Sed a ex nulla. Suspendisse potenti. Vivamus erat felis, ornare id dignissim vitae, finibus eget ex.
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr></tbody></table>
</center>
        </div>
        <div data-section-wrapper="1">
            <center>
                <table data-section="1" style="width: 600px; background: #fff; padding: 0em 0.5em;" width="600" cellpadding="0" cellspacing="0" bgcolor="#fff"><tbody><tr>
<td>
                                <div data-slot-container="1">
                                    <div data-slot="button">
                                        <a href="#" width="600" alt="" style="font-size: 40px; color: #ffffff; text-decoration: none; -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; display: block; font-family: bebaskai, Arial, sans-serif; font-weight: bold; text-align: center; background: #c29600; padding: 15px 66px;">
                                            <span data-slot-container="1">
                                                <span data-slot="text">
                                                   CTA Newsletter 2
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr></tbody></table>
</center>
        </div>
        <div data-section-wrapper="1">
            <center>
                <table data-section="1" style="width: 600px; background: #fff; padding: 0em 0.5em;" width="600" cellpadding="0" cellspacing="0" bgcolor="#fff"><tbody><tr>
<td>
                                <div data-slot-container="1">
                                    <div data-slot="text">
                                        <p style="line-height: 24px; font-size: 16px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium sem vitae.
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr></tbody></table>
</center>
        </div>
        <div data-section-wrapper="1">
            <center>
                <table data-section="1" style="width: 600px; background: #fff; padding: 0em 0.5em;" width="600" cellpadding="0" cellspacing="0" bgcolor="#fff"><tbody><tr>
<td>
                                <div data-slot-container="1">
                                    <div data-slot="text">
                                        <p style="line-height: 24px; font-size: 16px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pretium sem vitae.
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr></tbody></table>
</center>
        </div>
        <div data-section-wrapper="1">
            <center>
                <table data-section="1" style="width: 600px; background: #fff; padding: 0em 0.5em;" width="600" cellpadding="0" cellspacing="0" bgcolor="#fff"><tbody><tr>
<td>
                                <hr>
</td>
                        </tr></tbody></table>
</center>
        </div>
        <div data-section-wrapper="1">
            <center>
                <table data-section="1" style="border-collapse: collapse !important; width: 600px; margin: 0 auto; padding: 0em 0.5em;" cellpadding="0" cellspacing="0" bgcolor="#FAFAFA" width="600">
<tr>
<td style="font-family: 'Helvetica Neue', 'Arial', 'sans-serif' !important; font-weight: 400; text-align: center;" data-slot-container="1" align="center">
                            <div data-slot="text">
                                <br><br><a style="text-decoration: none;" href="https://twitter.com/1petitemousse">
                                    <img src="{{ getAssetUrl('themes/'~template~'/img/twitter-icon.png', null, null, true) }}" width="50px" height="50px" alt="twitter"></a>
                                <a style="text-decoration: none;" href="https://www.facebook.com/UnePetiteMousse/">
                                    <img src="{{ getAssetUrl('themes/'~template~'/img/facebook-icon.png', null, null, true) }}" width="50px" height="50px" alt="facebook"></a>
                                <a style="text-decoration: none;" href="https://www.youtube.com/user/BoxUnePetiteMousse">
                                    <img src="{{ getAssetUrl('themes/'~template~'/img/youtube-icon.png', null, null, true) }}" width="50px" height="50px" alt="youtube"></a>
                                <a style="text-decoration: none;" href="https://www.instagram.com/unepetitemousse/">
                                    <img src="{{ getAssetUrl('themes/'~template~'/img/instagram-icon.png', null, null, true) }}" width="50px" height="50px" alt="instagram"></a>
                                <br><br>
</div>
                        </td>
                    </tr>
<tr>
<td style="color: #bbbbbb; font-size: 12px; font-family: 'Droid Sans', 'Helvetica Neue', 'Arial', 'sans-serif' !important; font-weight: 400; text-align: center;" data-slot-container="1" align="center">
                            <div data-slot="text">
                                <span>Un souci pour lire cet email ? <a href="{webview_url}" style="text-decoration: underline; outline: none; color: #bbbbbb; border: 0;">Il suffit de cliquer ici</a></span> <br><br><span style="text-decoration: none; outline: none; color: #bbbbbb; border: 0;">Marre de recevoir nos mails ? Pas d'angoisse, il vous suffit de <a href="{unsubscribe_url}" style="text-decoration: underline; outline: none; color: #bbbbbb; border: 0;">cliquer sur ce lien</a></span>
                                <br><br>
</div>
                        </td>
                    </tr>
<tr>
<td>
                            <hr>
</td>
                    </tr>
<tr>
<td style="color: #bbbbbb; font-size: 12px; font-family: 'Droid Sans', 'Helvetica Neue', 'Arial', 'sans-serif' !important; font-weight: 400; text-align: center;" align="center">
                            <strong style="text-decoration: underline;">Pour nous contacter :</strong><br><p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 1em;">question@unepetitemousse.fr</p>
                        </td>
                    </tr>
<tr>
<td data-slot-container="1">
                            <div data-slot="text" style="color: #bbbbbb; font-size: 12px; font-family: 'Droid Sans', 'Helvetica Neue', 'Arial', 'sans-serif' !important; font-weight: 400; text-align: center;" align="center">
                                &copy; Une Petite Mousse 2017 Tous droits r&eacute;serv&eacute;s <br><em>Les Mallets &middot; Saint Paul de Varces 38760 &middot; France </em>
                                <br><br>
</div>
                        </td>
                    </tr>
</table>
</center>
        </div>
    </body>
</html>