{% extends ":"~template~":base.html.twig" %}

{% block content %}
<div class="container" data-section-wrapper="1">
    <div class="row" data-slot-container="1">
        <div class="col s12" data-slot="text">
            <h2>Hello there !</h2>
            <p>We haven't heard from you in a while :/</p>
        </div>
    </div>
</div>
{% endblock %}
